# Data Preparation

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Data extraction
data_core = pd.read_csv("data/HRDataset_v9.csv")

In [10]:
# Column names
# Data source: https://www.kaggle.com/rhuebner/human-resources-data-set/downloads/human-resources-data-set.zip/4#HRDataset_v9.csv
data_core.columns

Index(['Employee Name', 'Employee Number', 'MarriedID', 'MaritalStatusID',
       'GenderID', 'EmpStatus_ID', 'DeptID', 'Perf_ScoreID', 'Age', 'Pay Rate',
       'State', 'Zip', 'DOB', 'Sex', 'MaritalDesc', 'CitizenDesc',
       'Hispanic/Latino', 'RaceDesc', 'Date of Hire', 'Days Employed',
       'Date of Termination', 'Reason For Term', 'Employment Status',
       'Department', 'Position', 'Manager Name', 'Employee Source',
       'Performance Score'],
      dtype='object')

In [44]:
# Extracted features
data_info = data_core[["MaritalDesc", "Sex", "Age", "State", "CitizenDesc", "RaceDesc", "Position", "Days Employed", "Performance Score"]]
data_info

,MaritalDesc,Sex,Age,State,CitizenDesc,RaceDesc,Position,Days Employed,Performance Score
0,Married,Female,30,MA,US Citizen,Black or African American,Accountant I,3317,Fully Meets
1,Divorced,Male,34,MA,US Citizen,Black or African American,Accountant I,1420,Fully Meets
2,Single,Male,31,MA,US Citizen,White,Accountant I,1154,Fully Meets
3,Married,Female,32,MA,US Citizen,White,Administrative Assistant,58,N/A- too early to review
4,Single,Female,30,MA,US Citizen,White,Administrative Assistant,940,N/A- too early to review
5,Married,Female,30,MA,US Citizen,Asian,Administrative Assistant,730,Fully Meets
6,Married,Male,33,MA,US Citizen,White,Shared Services Manager,691,Fully Meets
7,Married,Male,33,MA,Eligible NonCitizen,Black or African American,Shared Services Manager,1636,Fully Meets
8,Married,Female,31,MA,US Citizen,Asian,Sr. Accountant,1014,90-day meets
9,Married,Female,39,MA,US Citizen,White,Sr. Accountant,3247,Fully Meets
10,Married,Female,63,MA,US Citizen,White,President & CEO,1973,Fully Meets
11,Single,Female,38,MA,US Citizen,White,CIO,2787,Exceptional
12,Single,Female,32,MA,US Citizen,White,Database Administrator,432,Fully Meets
13,Single,Female,46,MA,US Citizen,White,Database Administrator,27,Fully Meets
14,Married,Male,31,MA,US Citizen,Black or African American,Database Administrator,6,N/A- too early to review
15,Single,Female,34,MA,US Citizen,White,Database Administrator,972,N/A- too early to review
16,Married,Female,31,MA,US Citizen,Asian,Database Administrator,1056,90-day meets
17,Divorced,Male,29,TX,US Citizen,Black or African American,Database Administrator,1112,Exceptional
18,Married,Male,33,MA,US Citizen,White,Database Administrator,517,Fully Meets
19,Married,Female,33,MA,US Citizen,Asian,Database Administrator,1112,Exceptional
20,Married,Female,36,MA,US Citizen,White,Database Administrator,1014,Fully Meets
21,Married,Male,31,MA,US Citizen,White,Database Administrator,972,N/A- too early to review
22,Divorced,Male,30,MA,US Citizen,Black or African American,Database Administrator,299,90-day meets
23,Married,Male,48,MA,US Citizen,White,Database Administrator,1056,90-day meets
24,Single,Female,39,MA,US Citizen,White,Database Administrator,972,90-day meets
25,Single,Male,37,MA,US Citizen,Black or African American,IT Director,2417,Exceptional
26,Single,Male,45,MA,US Citizen,White,IT Manager - DB,1771,Fully Meets
27,Divorced,Male,54,MA,US Citizen,Two or more races,IT Manager - DB,1395,Fully Meets
28,Married,Male,31,MA,Eligible NonCitizen,Hispanic,IT Manager - Infra,2111,Needs Improvement
29,Single,Male,47,MA,US Citizen,White,IT Manager - Support,1421,Exceeds
...,...,...,...,...,...,...,...,...,...
280,Single,Male,36,NC,US Citizen,White,Area Sales Manager,1056,90-day meets
281,Married,Female,29,KY,US Citizen,Black or African American,Area Sales Manager,2148,Fully Meets
282,Separated,Male,50,ND,US Citizen,White,Area Sales Manager,4339,Exceeds
283,Married,Female,29,MT,US Citizen,Black or African American,Area Sales Manager,2617,Fully Meets
284,Single,Female,53,OR,US Citizen,Black or African American,Area Sales Manager,1154,Fully Meets
285,Married,Female,27,AZ,US Citizen,Two or more races,Area Sales Manager,2336,Fully Meets
286,Single,Male,28,ME,US Citizen,Asian,Area Sales Manager,2092,Fully Meets
287,Married,Female,52,RI,US Citizen,White,Director of Sales,1301,Fully Meets
288,Single,Female,28,VT,US Citizen,White,Sales Manager,1301,Fully Meets
289,Single,Female,28,PA,US Citizen,White,Sales Manager,899,Fully Meets
290,Divorced,Male,33,MA,US Citizen,Black or African American,Sales Manager,1288,Needs Improvement
291,Single,Female,39,MA,US Citizen,White,Software Engineer,1112,Fully Meets
292,Single,Female,31,MA,US Citizen,White,Software Engineer,1476,90-day meets
293,Single,Female,38,MA,US Citizen,Black or African American,Software Engineer,2148,90-day meets
294,Married,Female,31,MA,US Citizen,Black or African American,Software Engineer,765,Needs Improvement
295,Single,Female,30,MA,US Citizen,Asian,Software Engineer,1476,Fully Meets
296,Single,Male,39,MA,US Citizen,Asian,Software Engineer,1400,Exceeds
297,Married,Female,31,MA,US Citizen,White,Software Engineer,1847,Fully Meets
298,Single,Male,35,MA,US Citizen,White,Software Engineer,1238,Exceptional
299,Single,Male,34,MA,Non-Citizen,Black or African American,Software Engineer,421,Fully Meets
300,Single,Male,51,MA,US Citizen,White,Software Engineering Manager,2295,Fully Meets
301,Married,Male,46,MA,US Citizen,White,BI Director,446,Fully Meets
302,Single,Female,30,MA,US Citizen,Asian,Senior BI Developer,420,Fully Meets
303,Married,Female,38,MA,US Citizen,Black or African American,BI Developer,420,Fully Meets
304,Single,Female,45,MA,US Citizen,Black or African American,Data Architect,323,Fully Meets
305,Single,Male,48,MA,US Citizen,Asian,Senior BI Developer,289,Fully Meets
306,Single,Male,36,MA,US Citizen,Asian,Senior BI Developer,284,Fully Meets
307,Single,Male,34,MA,US Citizen,White,BI Developer,284,Fully Meets
308,Married,Male,30,MA,US Citizen,White,BI Developer,220,Fully Meets
309,Married,Male,28,MA,US Citizen,Black or African American,BI Developer,220,Fully Meets

The link to the source: http://www.cs.cornell.edu/~nhnguyen/diverse_kmeans.pdf

# Modeling

Implementing Kmeans algorithm to find people with the same interests.

In [31]:
# Import libraries
from sklearn.cluster import KMeans

In [40]:
# Training and clustering function
def cluster (n_clust, data, group = 1, person_data=None):
    # Kmeans module
    kmeans = KMeans(n_clusters=n_clust, random_state=0)
    # fit data
    kmeans.fit(data)
    
    # if we want to form the teams
    if (group == 0):
        predicted = kmeans.predict(person_data)
    
    # if we want to allocate a person
    else:
        predicted = kmeans.predict(data)
        
    return predicted

In [35]:
data_ineterests = pd.read_csv("data/interests.txt")

In [38]:
data_ineterests.head()

   Dancing  Music  Travel  Sports  Photography
0        0      1       0       1            0
1        1      1       1       0            1
2        1      0       0       1            0
3        1      1       0       1            1
4        1      0       0       1            1

In [42]:
cluster_labels = cluster(3, data_ineterests, group=1)

In [43]:
cluster_labels

array([1, 0, 0, 1, 1, 0, 1, 2, 1, 0, 1, 0, 2, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 2, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 2, 0, 1, 2, 1,
       1, 2, 2, 2, 0, 2, 0, 1, 0, 2, 1, 2, 1, 2, 2, 0, 2, 1, 2, 2, 1, 2,
       1, 2, 1, 1, 2, 0, 2, 1, 1, 2, 2, 2, 2, 0, 1, 1, 1, 1, 0, 0, 2, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 2, 1, 0, 2, 0, 1, 2, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 2, 1, 0, 0, 1, 0, 1, 2,
       2, 2, 2, 0, 0, 2, 0, 2, 0, 2, 1, 0, 0, 0, 0, 1, 2, 1, 1, 2, 2, 0,
       2, 1, 2, 1, 2, 1, 0, 0, 0, 2, 2, 0, 2, 1, 0, 1, 1, 1, 2, 1, 0, 2,
       0, 0, 2, 2, 0, 1, 1, 1, 2, 0, 0, 0, 1, 0, 0, 2, 0, 1, 0, 1, 1, 0,
       2, 1, 1, 0, 0, 1, 1, 1, 0, 2, 0, 1, 2, 0, 1, 0, 2, 0, 1, 0, 0, 0,
       2, 0, 2, 0, 2, 1, 0, 0, 1, 2, 1, 1, 2, 1, 1, 1, 1, 0, 0, 1, 1, 2,
       1, 2, 0, 0, 1, 2, 1, 1, 0, 2, 1, 1, 0, 0, 0, 0, 1, 0, 1, 2, 0, 1,
       2, 0, 2, 2, 1, 0, 1, 1, 1, 0, 0, 1, 0, 2, 0, 0, 1, 1, 2, 2, 0, 0,
       0, 2, 1, 1, 0, 1, 0, 0, 1, 2, 0, 2, 0, 0, 2, 0, 0, 2, 1, 2, 2, 1,
       2], dtype=int32)